// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


button.close {
    background: red;
    border-radius: 5px;
    color: white;
    border: none;
}

.button-containers {
    flex-wrap: wrap;
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: auto;
    max-width: 100%;
}

.faces-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    .face-image {
        width: 30%;
        max-height: 250px;
        position: relative;
        height: 25vw;
        .part-image {
            position: absolute;
            top: 10px;
            width: 100%;
        }
        .desc {
            margin: auto;
            text-align: center;
        }
    }
}